@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1>Отчет по продажам</h1>
    <p class="lead">Задайте период для выгрузки отчета</p>
    <div class="row">
        <div class="col-md-1">Период</div>
        <div class="col-md-3"><input class="form-control" type="text" id="tbFrom" /></div>
        <div class="col-md-3"><input class="form-control" type="text" id="tbTo" /></div>
    </div>
    <br />
    <p>
        <a class="btn btn-lg btn-success" href="#" id="btnOK" role="button">Сформировать</a><br />
        <a class="btn btn-danger" href="#" id="btnDownload" role="button">Скачать</a><br />
    </p>
</div>

