@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1>Отчет по продажам</h1>
    <p class="lead">Задайте период для выгрузки отчета</p>
    <form class="form-inline" id="reportForm">
        <div class="form-group">
            <label for="tbFrom">Период с</label>
            <input type="text" class="form-control" id="tbFrom" name="tbFrom" required>
        </div>
        <div class="form-group">
            <label for="tbTo">по</label>
            <input type="email" class="form-control" id="tbTo" name="tbTo" required>
        </div>
        <div class="form-group">
            <input type="text" id="tbEmail" name="tbEmail" class="form-control" placeholder="Введите ваш E-mail" required />
        </div>
        <br />
        <p>
            <a class="btn btn-lg btn-success" href="#" id="btnOK" role="button">Сформировать</a><br />
        </p>
    </form>
</div>

